# Marketing Folder
marketing

# Virtual Environment 
venv
.venv
ENV/
env/
target/

# Environment Variables
.env
.env.local
.env.*.local

# Pycache
__pycache__/
*.py[cod]
*$py.class

# Media
media/

# Databases
*.sqlite3

# Frontend
frontend/node_modules
frontend/.next/
frontend/out/
frontend/build/
.DS_Store
node_modules/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Tibbit TODO List
TibbitToDo.txt