@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #0e0e0e;
    background-image: 
        linear-gradient(rgba(38, 38, 38, 0.4) 1px, transparent 1px),
        linear-gradient(90deg, rgba(38, 38, 38, 0.4) 1px, transparent 1px);
    background-size: 40px 40px;
    font-family: 'Space Grotesk', sans-serif;
  }

  @media (max-width: 639px) {
    body {
      background-size: 24px 24px;
    }
  }
}

@layer utilities {
  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  }
  .neo-shadow-primary {
    box-shadow: 4px 4px 0px 0px #000000;
  }
  .neo-shadow-secondary {
    box-shadow: 4px 4px 0px 0px #8e94ff;
  }
  .neo-shadow-magenta {
    box-shadow: 4px 4px 0px 0px #ff51fa;
  }
  .kinetic-border {
    border-bottom: 4px solid #262626;
  }
}